@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}
#Desktop {

    background-image: url('assets/bliss.jpg');
    background-color: #1e1e1e; /* Windows XP default background color */
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-position: center; 
}

#navibar {
    background-image: url(assets/takcolor.png);
    background-size: cover;
}