@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}
#Desktop {

    background-image: url('assets/bliss.jpg');
    background-color: #1e1e1e; /* Windows XP default background color */
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-position: center; 
}


#tastkbarclock, #progBar {
   background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(148, 187, 233, 0) 18%
  );
  box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);

}

#Tools{
   background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(148, 187, 233, 0) 18%
  );
  box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);

}

