@tailwind base;
@tailwind components;
@tailwind utilities;


  ::-webkit-scrollbar {
    width: 0px; 
  }

  body {
   min-height: 100%;
   background: #464b4a
   /* repeating-conic-gradient(#464b4a 0 0.0001%,#2c2b2b 0 0.0002%)  */
 }

body::after {
     content: '';
     position: absolute;
     top:0px;
     left:0px;
     right:0px;
     bottom:0px;
     z-index:1000;
     background: repeating-linear-gradient(0deg, #000000 0px, #111, transparent 2px, transparent 5px);
     background-size:100% 5px;
     animation: lines 5s ease-out infinite;
     opacity:0.3;
     mix-blend-mode: color-burn;
     pointer-events: none;
  }
 
 @keyframes lines {
    0% {
       background-position:0px 0px;
    }
    100% {
       background-position:0px 25px;
    }
 }



 .wrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: 0px;
   transform: translateX(-50%) translateY(-50%);
 }
 

 
 .glitch_fixed {
   text-align: center;
   position: relative;
   color: #8eaca7;
   animation: color .9s infinite;
   animation-direction: alternate;
 }
 

 

 
 @keyframes show {
   50% {
     opacity: 0;
     text-shadow: 5px 5px #AAE90E;
   }
 }
 
 @keyframes color {
   50% {
     color: #b1b1b1;
   }
 }
 
 @ke
 .span {
   color: #0301FA;
   animation: glitch .4s linear infinite;
   animation-direction: alternate;
   position: absolute;
   transform: translateY(0px);
 }
 


 
